
#gamediv{
    font-family: monospace;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}

.choiceButton{
    line-height: 30px;
    width: 150px;
}

#playerText{
    color: blue;
}

#computerText{
    color: red;
}

.scoreDisplay{
    font-size: 2rem;
}

/*test*/
